---
import Layout from '../layouts/Layout.astro'
import { getCallbackUrl } from '../lib/spotify/spotifyApi'

const callbackUrl = getCallbackUrl()
---

<script>
  export class IndexPage extends HTMLDivElement {
    constructor() {
      super()
    }
  }
  customElements.define('index-page', IndexPage, {
    extends: 'div',
  })
</script>
<Layout title="Melonhead-inator">
  <main is="index-page">
    <h1>The Melonhead<span>-inator</span></h1>
    <p>
      to get started, click <a
        href={callbackUrl}
        style="color:greenyellow;font-weight:bold;">here</a
      >
    </p>
  </main>
</Layout>
